.main-content {
  margin-top: 5px; }
  .main-content a {
    text-decoration: none; }
  .main-content .top .nav {
    width: 186px;
    border: 1px solid #e6e6e6; }
    .main-content .top .nav ul .nav-title {
      position: relative;
      height: 30px;
      line-height: 30px;
      background-color: #f5e2e1;
      border: 1px solid #f5e2e1;
      border-right: 0 none;
      box-sizing: content-box; }
      .main-content .top .nav ul .nav-title:hover {
        border: 1px solid #c30000;
        border-right: 0 none; }
        .main-content .top .nav ul .nav-title:hover a {
          color: #c30000;
          background-color: white; }
      .main-content .top .nav ul .nav-title .title {
        padding-left: 15px;
        display: block; }
        .main-content .top .nav ul .nav-title .title span {
          float: right;
          margin-right: 10px;
          transform: rotate(-90deg); }
      .main-content .top .nav ul .nav-title .nav-content {
        position: absolute;
        width: 400px;
        left: 183px;
        top: -1px;
        display: none;
        z-index: 9999;
        background-color: white; }
        .main-content .top .nav ul .nav-title .nav-content ul {
          border: 1px solid #c30000;
          padding: 0 10px; }
          .main-content .top .nav ul .nav-title .nav-content ul li {
            padding-bottom: 10px;
            border-bottom: 1px solid #5c5c5c; }
            .main-content .top .nav ul .nav-title .nav-content ul li:last-child {
              border: 0 none; }
            .main-content .top .nav ul .nav-title .nav-content ul li .head {
              font-weight: bold;
              padding: 10px 0; }
              .main-content .top .nav ul .nav-title .nav-content ul li .head a {
                color: #c30000;
                font-size: 14px; }
            .main-content .top .nav ul .nav-title .nav-content ul li .list {
              border: 0 none;
              padding: 0; }
              .main-content .top .nav ul .nav-title .nav-content ul li .list li {
                border: 0 none;
                height: 20px;
                line-height: 20px;
                padding: 0 15px;
                border-right: 1px solid #ccc; }
                .main-content .top .nav ul .nav-title .nav-content ul li .list li:first-child {
                  padding-left: 0px; }
                .main-content .top .nav ul .nav-title .nav-content ul li .list li a {
                  color: #5c5c5c; }
  .main-content .top .slide {
    width: 690px;
    height: 390px;
    margin-left: 5px; }
  .main-content .top .notice {
    width: 300px;
    border: 1px solid #e6e6e6; }
    .main-content .top .notice .title {
      background-color: #eaf9f4;
      height: 38px;
      line-height: 38px;
      font-size: 14px;
      color: #3e5343;
      font-weight: 700;
      padding-left: 20px; }
    .main-content .top .notice .notice-content ul {
      list-style-type: disc;
      list-style-position: inside; }
      .main-content .top .notice .notice-content ul li {
        padding: 5px 5px; }
  .main-content .middle {
    margin-top: 5px; }
    .main-content .middle .box {
      margin-top: 5px; }
      .main-content .middle .box .content {
        width: 1000px;
        border: 1px solid #e6e6e6; }
        .main-content .middle .box .content .title {
          background: #eaf9f4;
          height: 38px;
          line-height: 38px;
          font-size: 14px;
          color: #3e5343;
          font-weight: bold;
          padding-left: 20px; }
        .main-content .middle .box .content .list {
          padding: 8px 9px; }
          .main-content .middle .box .content .list ul li {
            width: 196px; }
            .main-content .middle .box .content .list ul li .top img {
              width: 166px;
              height: 166px; }
            .main-content .middle .box .content .list ul li .middle p {
              width: 100%;
              height: 40px;
              text-align: left;
              line-height: 20px;
              color: #323232;
              overflow: hidden; }
            .main-content .middle .box .content .list ul li .bottom {
              width: auto;
              max-width: 110px;
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
              height: 20px;
              text-align: left;
              line-height: 20px;
              color: #c30000;
              font-size: 14px;
              font-weight: bold;
              margin-top: 3px; }
